Xft.dpi:144

URxvt.color0: #073642
URxvt.color8: #586e75
URxvt.color1: #dc322f
URxvt.color9: #cb4b16
URxvt.color2: #859900
URxvt.color10: #586e75
URxvt.color3: #b58900
URxvt.color11: #657b83
URxvt.color4: #268bd2
URxvt.color12: #839496
URxvt.color5: #d33682
URxvt.color13: #6c71c4
URxvt.color6: #2aa198
URxvt.color14: #93a1a1
URxvt.color7: #93a1a1
URxvt.color15: #fdf6e3


URxvt.background: #212121
URxvt.foreground: #adadad
URxvt.cursorColor: #c7c191

URxvt.font: xft:Source Code Pro:size=12
URxvt.lineSpace:1

URxvt.boldfont: xft:Source Code Pro:size=12
URxvt.italicfont: xft:Source Code Pro:size=12
URxvt.bolditalicfont: xft:Source Code Pro:size=12
URxvt.letterSpace: -1

URxvt.iso14755: false
URxvt.iso14755_52:false
URxvt.keysym.Shift-Control-V:eval:paste_clipboard
URxvt.keysym.Shift-Control-C:eval:selection_to_clipboard

URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.geometry: 400x400

URxvt.confirm-paste: false

